# Camera PV, EVR PV prefix, Description, Lens PV
# EVR PV with blank value ("") means the same EVR as previous camera

#####################
# Include XRT / FEE #
#####################

#include /reg/g/pcds/pyps/config/lfe/camviewer.cfg
#include /reg/g/pcds/pyps/config/xrt/camviewer.cfg

###############
# UED Cameras #
###############

GE,  UED:GIGE:01:IMAGE1;UED:GIGE:01, None,  ued-gige-01
GE,  UED:ANDOR:CAM:01:IMAGE2;UED:ANDOR:CAM:01, None,  ued-andor-01

####################
# UED-ASTA Cameras #
####################

GE,  ASAR03:image1;ASAR03, None, ued-asar03
GE,  ASAR04:image1;ASAR04, None, ued-asar04
GE,  ASPS08:image1;ASPS08, None, ued-asps08
GE,  ASPS04:image1;ASPS04, None, ued-asps04

######################
# Experiment Cameras #
######################



# Liquid jet cameras


#######################
# Test Configurations #
#######################



#######################
# Past Configurations #
#######################

