# Camera PV, EVR PV prefix, Description, Lens PV
# EVR PV with blank value ("") means the same EVR as previous camera

#####################
# Include XRT / FEE #
#####################

#include /reg/g/pcds/pyps/config/lfe/camviewer.cfg
#include /reg/g/pcds/pyps/config/xrt/camviewer.cfg

###############
# UED Cameras #
###############

GE,  UED:GIGE:01:IMAGE1;UED:GIGE:01, None,  ued-gige-01

######################
# Experiment Cameras #
######################



# Liquid jet cameras


#######################
# Test Configurations #
#######################



#######################
# Past Configurations #
#######################

