# Camera PV, EVR PV prefix, Description, Lens PV
#   EVR PV with blank value ("") means the same EVR as previous camera

####################
#Include XRT / FEE #
####################
include /reg/g/pcds/pyps/config/lfe/camviewer.cfg
include /reg/g/pcds/pyps/config/xrt/camviewer.cfg

##############
#CXI Cameras #
##############

GE,    CXI:DG1:GIGE:IMAGE1;CXI:DG1:GIGE,          CXI:EVR:DG1:GIGE,     cxi_dg1_yag,    CXI:DG1:PIM:ZOOM
#GE,    CXI:GIGE:01:IMAGE1;CXI:GIGE:01,          CXI:GIGE:EVR:01,     cxi_dg1_yag
GE,    CXI:DG2:GIGE:IMAGE1;CXI:DG2:GIGE,          CXI:EVR:DG2:GIGE,     cxi_dg2_yag,         CXI:DG2:PIM:ZOOM
GE,    CXI:DG3:GIGE:IMAGE1;CXI:DG3:GIGE,	  CXI:EVR:DG3:GIGE,    cxi_dg3_yag
#GE,    CXI:SC1:INLINE:IMAGE1;CXI:SC1:INLINE,	  CXI:EVR:SC1:INLINE,   cxi_sc1_inline
#GE,    CXI:SC2:INLINE:IMAGE1;CXI:SC2:INLINE,	  CXI:EVR:SC2:INLINE,   cxi_sc2_inline
#GE,    CXI:SC1:OFFAXIS:IMAGE1;CXI:SC1:OFFAXIS,    CXI:EVR:SC1:OFFAXIS,  cxi_sc1_offaxis
GE,    CXI:GIGE:08:IMAGE1;CXI:GIGE:08,            CXI:GIGE:EVR:08,      cxi_sc1_offaxis
GE,    CXI:GIGE:07:IMAGE1;CXI:GIGE:07,            None,                 cxi_sc2_offaxis
GE,    CXI:GIGE:05:IMAGE1;CXI:GIGE:05,            CXI:GIGE:EVR:05,      cxi_sc3_inline
GE,    CXI:GIGE:03:IMAGE1;CXI:GIGE:03,            CXI:GIGE:EVR:03,      cxi_sc3_offaxis
#GE,    CXI:GIGE:06:IMAGE1;CXI:GIGE:06,            None,                 cxi_sc2_inline
#GE,    CXI:SC1:NAVITAR:IMAGE1;CXI:SC1:NAVITAR,    None,  sc1navitar
GE,    CXI:NAVITAR1:GIGE:IMAGE1;CXI:NAVITAR1:GIGE,    None,  cxi_sc1_navitar
GE,    CXI:LAS:GIGE:01:IMAGE1;CXI:LAS:GIGE:01,   None,                 cxi_las_nearfield
GE,    CXI:LAS:GIGE:02:IMAGE1;CXI:LAS:GIGE:02,   None,                 cxi_las_farfield
GE,    CXI:TIMETOOL:GIGE:IMAGE1;CXI:TIMETOOL:GIGE,            None,                 cxi_timetool_cam
GE,    CXI:ALV:01:IMAGE1;CXI:ALV:01, None, cxi_sc1_inline
GE,    CXI:ALV:02:IMAGE1;CXI:ALV:02, None, cxi_usr_alv
GE,    CXI:ALV:03:IMAGE1;CXI:ALV:03, CXI:USR:TPR:02, cxi_sc2_inline
GE,    CXI:ALV:04:IMAGE1;CXI:ALV:04, CXI:USR:TPR:03, cxi_sc2_offaxis_new
#LIF,    CXI:USR:CVV:01,      None,              TimetoolCam
#LIF,    CXI:SC1:CVV:01,      None,              sc1navitar
LIF,    CXI:SC2:CVV:02,      None,              sc2navitar
LIF,    CXI:SC1:CVV:03,      None,              sc1cam3
LIF,    CXI:SC1:CVV:04,      None,              sc1cam4
LIF,    CXI:SC2:CVV:02,      None,              sc2cam2
LIF,    CXI:SC1:CVD:02,      CXI:R52:EVR:01,    Sc1Rec2
LIF,    CXI:SC1:CVD:01,      CXI:R52:EVR:01,    Sc1Rec2
LIF,    XRT:DIA:CVV:01,      None,              dia_pp

######################
#Past Configurations #
######################

#GE,    CXI:DG1:P6740:IMAGE1;CXI:DG1:P6740,        CXI:EVR:DG1:P6740,    cxi_dg1_yag,         CXI:DG1:PIM:ZOOM
#GE,    CXI:SC3:INLINE:IMAGE1;CXI:SC3:INLINE,      CXI:EVR:SC3:INLINE,   cxi_sc3_inline_opal
#GE,    CXI:SC3:OFFAXIS:IMAGE1;CXI:SC3:OFFAXIS,    CXI:EVR:SC3:OFFAXIS,  cxi_sc3_offaxis
#GE,    CXI:DG2:P6740:IMAGE1;CXI:DG2:P6740,        CXI:EVR:DG2:P6740,   cxi_dg2_yag,    CXI:DG2:PIM:ZOOM
#GE,    CXI:GIGE:07:IMAGE1;CXI:GIGE:07, None, gige-cxi-07
#GE,    CXI:GIGE:08:IMAGE1;CXI:GIGE:08, None, gige-cxi-08
#GE,    CXI:GIGE:OFFAXIS:IMAGE2;CXI:GIGE:OFFAXIS,  CXI:GIGE:EVR:OFFAXIS, CxiSc3OffAxisSpare 
#LIF,    CXI:SC1:CVV:02,      None,              sc1cam2
#LIF,    CXI:SC2:CVV:01,      None,              sc3offaxis
#GE,    CXI:GIGE:03:IMAGE2;CXI:GIGE:03, None, crystalVision # Ray's GigE looking at the top of the injector
#GE,    CXI:GIGE:07:IMAGE1;CXI:GIGE:07, None, CxiSc3OffAxis
#AVG,    CAMR:FEE1:1561,      EVR:FEE1:712:1,    FeeP1
#AVG,    CAMR:FEE1:1692,      EVR:FEE1:712:1,    FeeP2S
#AVG,    CAMR:FEE1:1953,      EVR:FEE1:712:2,    FeeP3S1
#AVG,    CAMR:FEE1:2953,      EVR:FEE1:712:2,    FeeP3S2
#AVG,    CAMR:FEE1:852,       EVR:FEE1:712:3,    FeeP2H
#AVG,    CAMR:FEE1:913,       EVR:FEE1:712:1,    FeeP3H
#AVG,    CAMR:FEE1:1124,      EVR:NEH1:121:1,    FeeP4S1
#AVG,    CAMR:FEE1:2124,      EVR:NEH1:121:1,    FeeP4S2
#AVG,    CAMR:FEE1:195,       EVR:NEH1:121:2,    FeeP5
##AVG,    HX2:SB1:CVV:01,      HX2:EVR:YAG,       HX2shared,      XPP:NAV:SB1:01:DES_ZOOM;XPP:NAV:SB1:01:CUR_ZOOM/1/12
#GE:16,  HX2:SB1:CVV:01:IMAGE2;HX2:SB1:CVV:01,HX2:EVR:YAG,  HX2Shared, XPP:NAV:SB1:01:DES_ZOOM;XPP:NAV:SB1:01:CUR_ZOOM/1/12
#AVG,    HXX:UM6:CVV:01,      XRT:R05:EVR:41,    XcsYag1,        HXX:UM6:PIM:ZOOM
#AVG,    HFX:DG2:CVV:01,      XRT:R32:EVR:41,    XcsYag2premono, HFX:DG2:PIM:ZOOM
##AVG,    HFX:DG3:CVV:01,      XRT:R38:EVR:42,    XcsYag3m,       HFX:DG3:PIM:ZOOM
#GE:16,  HFX:DG3:CVV:01:IMAGE2,  XRT:R38:EVR:42, XcsYag3m,       HFX:DG3:PIM:ZOOM
##AVG,    XCS:DG3:CVV:02,      XRT:R38:EVR:42,    XcsYag3,        XCS:DG3:PIM:ZOOM
#GE:16,  XCS:DG3:CVV:02:IMAGE2,  XRT:R38:EVR:44, XcsYag3,        XCS:DG3:PIM:ZOOM
#DREC, OTRS:DMP1:695:CAMERA, , XTCAV
#GE:16,  CAMR:FEE1:441:IMAGE2, None,             FeeOrca1binned
#GE:16,  CXI:USR:CVV:PTM1:IMAGE2;CXI:USR:CVV:PTM1,                , CXI Pulnix 6740
#LIF,    CXI:SC3:CVV:01,      None,              sc3navitar

