# Camera PV, EVR PV prefix, Description, Lens PV
#   EVR PV with blank value ("") means the same EVR as previous camera

##############
#DET Cameras #
##############


######################
# Experiment Cameras #
######################

GE,     DET:CAM:ANDOR1:IMAGE1;DET:CAM:ANDOR1, None, USB to daq-det-jungfrau

